<div class="bg-blue-900 px-4 py-3">
<div
  class="md:max-w-6xl md:mx-auto md:flex md:items-center md:justify-between"
>
  <div class="flex justify-between items-center">
    <a href="#" class="inline-block py-2 text-white text-xl font-bold"
      >FPMessApp</a
    >
    <div
      class="inline-block cursor-pointer md:hidden">
      <div class="bg-gray-400 w-8 mb-2" style="height: 2px;"></div>
      <div class="bg-gray-400 w-8 mb-2" style="height: 2px;"></div>
      <div class="bg-gray-400 w-8" style="height: 2px;"></div>
    </div>
  </div>
  
  <div class="hidden md:block">
      
          <%= link_to 'My Dashboard', setting_path, class:"inline-block py-1 md:py-4 text-gray-500 hover:text-gray-100 mr-6" %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"inline-block py-2 px-4 text-gray-700 bg-white hover:bg-gray-100 rounded-lg" %>
      
    </div>
</div>
</div>

<div class="bg-grey-lighter min-h-screen flex flex-col">
            <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
                <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                    <h1 class="mb-8 text-3xl text-center">Update Your Account</h1>
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <%= render "devise/shared/error_messages", resource: resource %>

                    
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"block border border-grey-light w-full p-3 rounded mb-4" %>
                  
                
                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>
                
                  
                    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                    <%= f.password_field :password, autocomplete: "new-password", class:"block border border-grey-light w-full p-3 rounded mb-4" %>
                    <% if @minimum_password_length %>
                      
                      <em><%= @minimum_password_length %> characters minimum</em>
                    <% end %>
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"block border border-grey-light w-full p-3 rounded mb-4" %>
                    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
                    <%= f.password_field :current_password, autocomplete: "current-password", class:"block border border-grey-light w-full p-3 rounded mb-4" %>
                    <div class="flex items-center justify-center" >
                      <%= f.submit "Update", class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"%>
                    </div>
                <% end %>
                
                  <div class="text-grey-dark mt-6">
                  
                    <h3>Cancel my account</h3>
                    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
                    <%= link_to "Back", :back %>
                </div>
                
    </div>
  </div>
</div>
