

<!-- component -->
<body class="h-auto font-mono bg-gray-400 my-12">
		<!-- Container -->
		<div class="container mx-auto align-middle">
			<div class="flex justify-center my-12">
				<!-- Row -->
				<div class="w-full xl:w-3/4 lg:w-1/1 flex">
					<!-- Col -->
					<div
						class="w-full h-auto bg-gray-400 hidden lg:block lg:w-11/12 bg-contain rounded-l-lg"
						style="background-image: url('https://source.unsplash.com/oWTW-jNGl9I/400x600')"
					></div>
          <!-- Col -->
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          
					<div class="w-full lg:w-1/1 bg-white p-5 rounded-lg lg:rounded-l-none">
						<div class="px-8 mb-4 text-center">
							<h3 class="pt-4 mb-2 text-2xl">Forgot Your Password?</h3>
							<p class="mb-4 text-sm text-gray-700">
								We get it, stuff happens. Just enter your email address below and we'll send you a
								link to reset your password!
							</p>
						</div>
						<form class="px-8 pt-6 pb-8 mb-4 bg-white rounded">
							<div class="mb-4">
              
                <%= f.label :email ,class:"block mb-2 text-sm font-bold text-gray-700"%><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline", placeholder:"Enter Email Address..." %>
            
							</div>
							<div class="mb-6 text-center">
              
                <%= f.submit "Reset Password", class:"w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline" %>
           
							</div>
							<hr class="mb-6 border-t" />
							<div class="text-center" >
								<%= link_to 'Create an account', new_user_registration_path, class:"inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"  %>
							</div>
							<div class="text-center">
								<%= link_to 'Already have an account! Login!', new_user_session_path, class:"inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"%>
							</div>
						</form>
          </div>
          <% end %>
				</div>
			</div>
		</div>
	</body>
