<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @ticket.date %>
</p>

<p>
  <strong>Type:</strong>
  <%= @ticket.type %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ticket.status %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
