<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fb_user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>



<%= link_to 'Edit', edit_fb_user_path(@fb_user) %> |
<%= link_to 'Back', fb_users_path %>
