<p id="notice"><%= notice %></p>
<% if logged_in? %>Welcome, <%= current_user.name %><% end %>

<p>
  <strong>Link:</strong>
  <%= @fb_user.link %>
</p>

<p>
  <strong>Name:</strong>
  <%= @fb_user.name %>
  
</p>

<p>
  <strong>Phone:</strong>
  <%= @fb_user.phone %>
</p>

<%= link_to 'Update Account Information', edit_fb_user_path(@fb_user) %> |

<% if current_user.try(:admin?) %> 
  <%= link_to 'Delete User |' , delete_path %>
<% end %> 

<%= link_to 'Log Out', logout_path %>

